<div class="jumbotron jumbotron-infographs">
    <p>capture the patient experience with ease</p>
    <div class="infograph-wrapper row">
        <div class="infograph info-1 col-md-3">
            <img src="assets/infograph1"/>
            <p>Doctor - Patient Visit</p>
        </div>
        <div class="infograph col-md-3">
            <img src="assets/infograph2"/>
            <p>Patient completes survey via Ampel in under 3 min</p>
        </div>
        <div class="infograph col-md-3 ">
            <img src="assets/infograph3"/>
            <p>Practice gains distinct insights and can fully customize capturing the patient experience process</p>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-slogan">
    <h2>BETTER HEALTHCARE, HAPPY PATIENTS.</h2>

</div>

<div class="jumbotron jumbotron-mobile-images">

</div>