/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "home.scss";


body{
    max-width: 1265px;
    margin: 0 auto;
    min-width: 822px;
}

.jumbotron{
    position: relative;
    height: 700px;
    width: 100%;
    background-color: white;
}

.jumbotron-header{
    background: url('/assets/light-man-hand-pen') no-repeat;
    background-size: 100%;
}

nav#header {
    background-color: white;
    border: none;
    position: absolute;
    top: 0px;
}

a.navbar-brand{
    height: 90px;
    overflow: hidden;
}

.menu{
    position: relative;
    right: 25%;
    float: right;
    display: none;
    margin-top: 5%;
}

#nav-menu{
    cursor: pointer;
}

ul.menu-header-ul{
    list-style-type: none;
    width: 175px;
    padding: 10px;
    display: none;
    position: absolute;
    background-color: white;
}

ul.menu-header-ul li{
    padding-top: 10px;
    padding-left: 0;
}

ul.menu-header-ul li a{
    display: block;
    position: relative;
    left: 0;
    padding-left: 0;
    text-decoration: none;
    color: black;
}

.hover {
  background: #c2c2c6;

}

ul.header-ul{
    list-style-type: none;
    padding-top: 10px;
    display: inline-block;
    position: absolute;
    bottom: 20%;
}

ul.header-ul li{
    display: inline;
    padding-right: 40px;
}

ul.header-ul li a{
    color: #c2c2c6;
    cursor: pointer;
    text-decoration: none;
}

ul.header-ul li a:hover{
    color: #C8C9CC;
}

ul.header-signup {
    position: absolute;
    right: 0px;
}

ul.header-signup li {
    font-size: 17px;
    font-weight: 500;
}

#start-trial {
    color: #F17D11;
}

#sign-up{
    color: #4F7172;
}

.jumbotron .info-container{
    position: absolute;
    top: 48%;
    right: 5px;
    width: 28%;
}

.jumbotron .info-container p{
    color: #6F8C89;
    position: relative;
    right: 0px;
}

 .btn-primary {
    font-size: 18px;
    background-color: #F47900;
    margin-top: 20px;
    border: none;
    border-radius: 0px;
    padding: 10px 24px;
}

.footer{
    position: relative;
    bottom: 0px;
    padding: 30px;
    background-color: #E6E7E7;
    color: grey;
}


@media screen and (max-width:1150px) {
  .menu{
    display: block;
  }

  ul.header-ul{
    display: none;
  }

}


@media screen and (max-width:1000px) {
    .menu{
        display: inline;
        position: absolute;
        top: 5px;
    }

    .jumbotron.jumbotron-infographs {
        height: 1000px;
        padding: 0;
    }

    .infograph-wrapper{
        height:500px;
    }

    .infograph{
        width: 100%;
        height: 275px;
    }

    .infograph p{
        display: inline;
        float: right;
        width: 50%;
        position: relative;
        bottom: 25%;
        text-align: left;
        font-size: 30px;
    }

    .jumbotron.jumbotron-slogan{
        height: 645px;
    }

    .infograph img{
        float: left;
    }

    .info-box p {
        top: 4%;
        font-size: 19pt;
    }

    .jumbotron-slogan .info-box{
        background: none;
    }

    .jumbotron-slogan .info-box p{
        font-size: 17pt;
        width: 100%;
        left: 0;
        background-color: rgba(73, 112, 111, 0.6);
        padding: 50px;
    }

    #mobile1{
        display: none;
    }

    #mobile2{
        display: none;
    }
}

@media screen and (max-width:825px) {
    .jumbotron-slogan h2 {
        font-size: 30px;
    }

    .jumbotron-slogan .info-box{
        background: none;
    }

    .jumbotron-slogan .info-box p{
        font-size: 17pt;
        width: 100%;
        left: 0;
        background-color: rgba(73, 112, 111, 0.6);
        padding: 50px;
    }

    .infograph p {
        font-size: 25px;
    }

    #start-free-trial{
        display: none;
    }


}

@media screen and (max-width:767px) {
    #physician-insights{
        width: 500px;
        position: relative;
        top: -30%;
        height: 570px;
    }

    .jumbotron-mobile-images .col-md-4 {
        height: 250px;
    }

    .jumbotron-mobile-images .btn {
        margin-top: 0;
    }

    .col-sm-3{
        display: none;
    }

}