/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "home.scss";


.jumbotron{
    position: relative;
    height: 700px;
    width: 100%;
    background-color: white;
}

.jumbotron-header{
    background: url('/assets/light-man-hand-pen') no-repeat fixed;
    background-size: 100%;
}

nav#header {
    background-color: white;
    border: none;
    position: absolute;
    top: 0px;
}

a.navbar-brand{
    height: 90px;
    overflow: hidden;
}

ul.header-ul{
    list-style-type: none;
    padding-top: 10px;
    display: inline-block;
    position: absolute;
    bottom: 20%;
}

ul.header-ul li{
    display: inline;
    padding-right: 40px;
}

ul.header-ul li a{
    color: #c2c2c6;
    cursor: pointer;
    text-decoration: none;
}

ul.header-ul li a:hover{
    color: grey;
}

ul.header-signup {
    position: absolute;
    right: 0px;
}

ul.header-signup li {
    font-size: 17px;
    font-weight: 500;
}

#start-trial {
    color: orange;
}

#sign-up{
    color: grey;
}

.jumbotron .info-container{
    position: absolute;
    top: 48%;
    right: 5px;
    width: 28%;
}

.jumbotron .info-container p{
    color: #547878;
    position: relative;
    right: 0px;
}

.jumbotron .info-container .btn-primary {
    // position: relative;
    // bottom: 0px;
    // right: 0px;
    // height: 60px;
    // width: 150px;
    font-size: 18px;
    // color: white;
    background-color: #fc6f28;
    margin-top: 20px;
    // text-align: center;
    border: none;
    border-radius: 0px;
    padding: 10px 24px;

}



.footer{
    position: relative;
    bottom: 0px;
    padding: 30px;
    background-color: #E6E7E7;
    color: grey;
}