// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron.jumbotron-infographs {
    height: 510px;
}

.jumbotron-infographs p{
    text-align: center;
    // color: #638181;
    color: #527673;
}

.infograph-wrapper{
    margin: 30px auto 0 auto;
    position: absolute;
}

.infograph{
    display: inline-block;
    width: 33%;
}

.infograph img{
    overflow: hidden;
    height: 251px;
    margin: 0 12%;
}

.info-1 {
    padding-left: 3%;
}

.infograph p{
    // color: #638181;
    color: #527673;
    text-align: center;
    font-size: 17px;
    width: 83%;
    margin: 0 auto;
}




.jumbotron-slogan{
    height: 510px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.jumbotron-slogan img {
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

.jumbotron-slogan h2{
    text-align: center;
    opacity: 1;
    font-size: 30pt;
    font-weight: 300;
    padding: 200px;
    position: relative;
    z-index: 2;
    top: -30%;
}


.jumbotron-slogan .info-box {
    display: inline-block;
    width: 48%;
    height: 90%;
    background-color: rgba(73, 112, 111, 0.6);
    color: white;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    bottom: -25%;
    left: 25%;
}

.info-box p{
    text-align: center;
    font-size: 21pt;
    width: 40%;
    position: absolute;
    top: 25%;
    left: 27%;
}

.jumbotron-mobile-images{
    margin-top: 0;
    padding-top: 0;
    width: 90%;
    margin-left: 3%;
}

.jumbotron-mobile-images .col-md-3{
    height: 500px;
}

.mobile-wrapper{
    position: absolute;
    top: 50%;
}

#physician-insights{
    background: url('/assets/physicianinsight') no-repeat;
    background-size: 100%;
    height: 100%;
}

#arrow-2{
    transform: rotate(180deg);
}

.jumbotron-mobile-images .btn{
    margin-left: auto;
    margin-right: auto;
}