// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron.jumbotron-infographs {
    height: 510px;
}

.jumbotron-infographs p{
    text-align: center;
    color: #638181;
}

.infograph-wrapper{
    margin: 30px auto 0 auto;
    position: absolute;
}

.infograph{
    display: inline-block;
    width: 33%;
}

.infograph img{
    overflow: hidden;
    height: 251px;
    margin: 0 12%;
}

.info-1 {
    padding-left: 3%;
}

.infograph p{
    color: #638181;
    text-align: center;
    font-size: 17px;
    width: 83%;
    margin: 0 auto;
}




.jumbotron-slogan{
    background: url('/assets/pier.png') no-repeat fixed;
    background-size: 100%;
    opacity: .6;
    height: 510px;
}

.jumbotron-slogan h2{
    text-align: center;
    opacity: 1;
    font-size: 28pt;
    font-weight: 200;
}