<!DOCTYPE html>
<html>
<head>
  <title>AmpelHealth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" id="header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="assets/AmpelHealth_Logo_Header.jpeg">
      </a>
    </div>
    <!-- <div class="menu">
      <div id="nav-menu">Menu</div>
      <ul class="menu-header-ul">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#" data-toggle="modal" data-target="#signupModal">Start a free trial</a></li>
          <li><a href="#">Sign in</a></li>
      </ul>
    </div> -->
    <ul class="header-ul">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
    </ul>
    <ul class="header-ul header-signup">
        <li><a href="#" id="start-trial" data-toggle="modal" data-target="#signupModal">Start a free trial</a></li>
        <li><a href="#" id="sign-up">Sign in</a></li>
    </ul>
  </div>
</nav>



<%= yield %>

<div class="footer">
    <div>&copy; 2016 Ampel Health. All rights reserved.</div>
</div>

</body>
</html>
