<!DOCTYPE html>
<html>
<head>
  <title>AmpelHealth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <div class="header clearfix">
      <a href="#" class="logo"></a>
      <ul class="main_navigation">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li>
          <a href="#">Portfolio</a>
          <ul class="sub_main_navigation">
            <li><a href="#">HTML/CSS</a></li>
            <li><a href="#">jQuery</a></li>
            <li><a href="#">Node.js</a></li>
            <li><a href="#">Rails</a></li>
          </ul>
        </li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a>
          <ul class="sub_main_navigation">
            <li><a href="#">Email</a></li>
            <li><a href="/contact">Contact Form</a></li>
          </ul>
        </li>
      </ul>
    </div>

<%= yield %>

</body>
</html>
