<!DOCTYPE html>
<html>
<head>
  <title>AmpelHealth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="jumbotron">
    <nav class="navbar navbar-default navbar-fixed-top" id="header">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="assets/AmpelHealth_Logo_Header.jpeg">
          </a>
        </div>
        <ul class="header-ul">
            <li><a>Features</a></li>
            <li><a>Pricing</a></li>
            <li><a>Schedule Demo</a></li>
            <li><a>Customer</a></li>
            <li><a>Testimonial</a></li>
        </ul>
        <ul class="header-ul header-signup">
            <li><a id="start-trial">Start a free trial</a></li>
            <li><a id="sign-up">Sign up</a></li>
        </ul>
      </div>
    </nav>

    <div class="info-container">
        <p>Ampel Health provides easy to integrate health experience surveys through a customizable platform with real-time insights that make sense to healthcare systems.</p>
        <div class="btn btn-primary">start a free trial</div>
    </div>
</div>

<%= yield %>

<div class="footer">
    <div>&copy; 2015 AmpelHealth. All rights reserved.</div>
</div>

</body>
</html>
